<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="shortcut icon" href="favicon/favicon.ico" />

    <title>Index page</title>
  </head>

  <body>
    <div class="main">
      <%= _.template(require('../../components/common/_header.html').default)()
      %>
      <div class="main__background">
        <div class="container">
          <div class="row">
            <div class="col-lg-6"></div>
          </div>
          <div class="main__right-img"></div>
        </div>
      </div>
      <div class="main__container">
        <img
          class="main__left-img"
          src="images/_Textures and patterns/Blatttextur.jpg"
          alt=""
        />
        <div class="main__content container">
          <div class="row">
            <div class="col-lg-11">
              <div class="main__img-box">
                <img
                  class="main__cafe"
                  src="images\img\nick-karvounis.jpeg"
                  alt=""
                />
              </div>
              <img
                class="main__label"
                src="images/_Logo/Logo_Ratskeller.png"
                alt=""
              />
              <div class="main__box-time">
                <div class="box-time__item">
                  <div class="box-time__text">Für Sie geöffnet bis</div>
                  <span class="main__time-number">22 </span><span> Uhr</span>
                </div>
              </div>
            </div>
            <div class="col-lg-1 main__nav-arr">
              <span class="hv hv-top"></span>
              <span class="main__arr-box"
                ><a href=""
                  ><img
                    class="main__arr"
                    src="images/_Icons/arrow-circle.svg"
                    alt="" /></a
              ></span>
              <span class="hv hv-bottom"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="welcome">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="title">Willkommen im Ratskeller</h2>
            <p>
              Bei uns erleben Sie noch ehrliche Gastfreundschaft im historischen
              Ambiente. Fangfrischer Fisch aus unseren heimischen Seen und dem
              Meer sowie bodenständige, deftige und herzhafte Speisen treffen in
              unserem Restaurant auf ausgewählte internationale Gerichte.
            </p>
            <p>
              Traditionell norddeutsche und mecklenburgische Küche kombiniert
              mit dem Charme der Altstadt von Waren (Müritz) verbindet sich so
              in harmonischer Weise zu einem Ganzen.
            </p>
            <p>Überzeugen Sie sich selbst.</p>
            <p>
              Inhaber Fabian Kerber bewahrt die kulinarische Geschichte und
              lange Tradition unserer Gaststätte im Herzen der Altstadt von
              Waren an der Müritz.
            </p>
            <p>
              <b
                ><i
                  >Fühlen Sie sich von der ersten Sekunde an in unserem
                  außergewöhnlichen Brauereigasthof heimisch. Wir freuen uns auf
                  Sie.</i
                ></b
              >
            </p>

            <button class="button welcome__button">Zur Speisekarte</button>
          </div>
          <div class="col-lg-6 welcome__views">
            <div class="welcome__img">
              <img src="/images/img/ratskeller.jpeg" alt="" />
            </div>
            <div class="welcome__background">
              <div class="welcome__background-text">
                <span>Mecklenburger Küche</span> im historischen Brauereigasthof
              </div>
            </div>
            <img
              class="welcome__logo"
              src="/images/_Bird/Bierglas.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="brewery">
      <div class="brewery__background-texture">
        <img src="../images/_Textures and patterns/Braumaschine.svg" alt="" />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 brewery__images">
            <div class="row">
              <div class="col-lg-6 brewery__item-img">
                <div class="brewery__img-box-1">
                  <img src="/images/img/food1.jpeg" alt="" />
                </div>
              </div>
              <div class="col-lg-6 brewery__item-img">
                <div class="brewery__img-box-2">
                  <img src="/images/img/food1.jpeg" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 brewery__body-text">
            <div class="brewery__outline">
              <div class="brewery__img-box-3">
                <img src="/images/img/bocal.jpeg" alt="" />
              </div>
            </div>

            <div class="brewery__text">
              <h2>Brauereigasthof</h2>
              <p>
                Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                esse quam nihil molestiae consequatur, vel illum qui dolorem eum
                fugiat quo voluptas nulla pariatur.
              </p>
              <ul class="brewery__list">
                <li>Nor again is there anyone who loves or pursues</li>
                <li>Or desires to obtain pain of itself, because it</li>
                <li>Ispain but because occasionally circumstances</li>
                <li>Cur in which toil and pain can procure</li>
              </ul>
            </div>
            <p class="brewery__bottom-text">
              <b>
                <i>
                  Quis autem vel eum iure reprehenderit qui in ea voluptate
                  velit esse quam nihil molestiae consequatur, vel illum qui
                  dolorem eum fugiat quo voluptas nulla pariq uam nihil molestia
                  atur.</i
                >
              </b>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="apartments">
      <div class="apartments__background-top-texture">
        <img src="../images/_Textures and patterns/hafen.svg" alt="" />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 apartments__left-images">
            <div class="apartments__sub-container">
              <div class="apartments__img-box1">
                <img src="/images/img/food1.jpeg" alt="" />
              </div>
              <div class="apartments__img-box2">
                <img src="/images/img/food1.jpeg" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-6 apartments__body-text">
            <h2 class="title apartments__title">
              Appartements in Waren (Müritz)
            </h2>
            <h5>
              <b
                >Unterkünfte mitten in der historischen Altstadt von Waren
                (Müritz)</b
              >
            </h5>
            <p>
              Entdecken Sie eines der komfortabelsten und stilvoll
              eingerichteten Häuser mitten in der historischen Altstadt von
              Waren, nur einen Steinwurf entfernt vom Yachthafen an der Müritz.
              Warme Farbtöne und edelste Materialien dominieren in jedem
              Domizil, kombiniert mit unendlicher Detailverliebtheit. Verbringen
              Sie Ihren Urlaub an einer Oase der Erholung am größten Binnensee
              Deuschlands.
            </p>
            <h5><b>Wählen Sie Ihre perfekte Unterkunft:</b></h5>
            <ul>
              <li>Appartements, Juniorsuite, Doppelzimmer</li>
            </ul>
            <button class="button apartments__button">
              Zu den Appartements
            </button>
          </div>
          <div class="col-lg-3 apartments__right-images">
            <div class="apartments__sub-container">
              <div class="apartments__img-box3">
                <img src="/images/img/food1.jpeg" alt="" />
              </div>
              <div class="apartments__img-box4">
                <img src="/images/img/food1.jpeg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="apartments__background-bottom-texture">
        <img src="../images/_Textures and patterns/hafen.svg" alt="" />
      </div>
    </div>
    <div class="contact-information">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h2 class="title contact__title">Kontakt & Anfahrt</h2>
            <ul class="contact-information__box">
              <li>
                <img src="/images/_Icons/location-circle.svg" alt="" />
                <span class="contact-information__list-item"
                  >Neuer Markt 1, 17192 Waren (Müritz)</span
                >
              </li>

              <li>
                <img src="/images/_Icons/mail-circle.svg" alt="" /><span
                  class="contact-information__list-item"
                >
                  info@ratskeller-waren.de</span
                >
              </li>
              <li>
                <img src="/images/_Icons/user-circle.svg" alt="" /><span
                  class="contact-information__list-item"
                >
                  Frank Kerber</span
                >
              </li>
              <li>
                <img src="/images/_Icons/phone2.svg" alt="" /><span
                  class="contact-information__list-item"
                  >0880 633 27 77</span
                >
              </li>
              <li>
                <img src="/images/_Icons/facebook-circle.svg" alt="" /><span
                  class="contact-information__list-item"
                  >Ratskeller auf Facebook</span
                >
              </li>
            </ul>
          </div>
          <div class="col-lg-5">
            <div class="contact-information__map">
              <img src="/images/main-back.jpg" alt="" />
            </div>
          </div>
          <div class="col-lg-3 contact-information__right-item">
            <img class="contact-information__background" src="" />
            <div class="contact-information__adress address">
              <img
                class="contact-information__logo"
                src="/images/_Bird/Steuerrad.png"
                alt="Steuerrad"
              />

              <div class="address__description">
                <h5 class="address__title">
                  Anfahrtshinweise für unsere Appartement-Gäste
                </h5>
                <p>
                  Nutzen Sie bitte den Parkplatz mit der Adresse XYZ, Waren
                  (Müritz)
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= _.template(require('../../components/common/_footer.html').default)() %>
  </body>
</html>
