<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <a class="footer__link-logo" href="#">
            <img
              class="header-logo"
              src="images/_Logo/logo-text-footer.svg"
              alt="logo"
          /></a>
        </div>
        <div class="col-lg-8 footer__text-center">
          <h3 class="footer__text">
            Täglich für Sie geöffnet von 7 bis 22 Uhr
          </h3>
        </div>
        <div class="col-lg-2 footer__text-right">
          <a href="#" class="footer__text-right-list">Impressum</a>
          <a href="#" class="footer__text-right-list">Datenschutz</a>
        </div>
      </div>
    </div>
  </div>
</footer>
